@font-face {
    font-family: "Lora-Regular";
    font-weight: 400;
    src: local("Lora Regular"), url('../static/fonts/ofl/lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Lora-Italic";
    font-weight: 400;
    src: local("Lora Italic"), url('../static/fonts/ofl/lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Lora-Bold";
    font-weight: 400;
    src: local("Lora Bold"), url('../static/fonts/ofl/lora/Lora-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "OpenSans-Regular";
    font-weight: 400;
    src: url('../static/fonts/apache/opensans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "OpenSans-ExtraBold";
    font-weight: 800;
    src: url('../static/fonts/apache/opensans/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url('../static/fonts/apache/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "SourceCodePro-Regular";
    font-weight: 800;
    src: url('../static/fonts/ofl/sourcecodepro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'consola';
    src: url('../static/fonts/consola.ttf') format('truetype');
}

html {
    min-height: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}

body {
    font-family: 'OpenSans-Regular', sans-serif;
    height: inherit;
    min-height: inherit;
    margin: 0px 0px 0px 0px;
    color: black;
}

header {
    border-bottom: 2px solid black;
    /* border-bottom: 0.15rem solid rgba(0,0,0,0.15); */

    /* TODO make the header take up the top and sides of the page */
    margin-bottom: 30px;

    /* top | right | bottom | left */
    padding: 20px 12px 20px 0px;

    /* TODO make the grey lighter */
    /* background-color: #E1E7F2; */
    background-color: #E1E2E4;

    /* add the box shadow for the header */
    box-shadow: inset 0 -1rem .5rem -0.5rem rgba(0,0,0,0.1);

    /* add for the rounded bottom border */
    /* border-radius: 0rem 0rem 10rem 10rem; */
    /* border: 0rem solid #000000; */
}

main {
    margin: 0px 0px 0px 0px;
}

nav {
    text-align: right;
}

nav a {
    margin-left: 12px;

    color: black;
    font-size: 18px;
    font-weight: bold;

    text-decoration: none;
    text-transform: uppercase;
}

footer {
    background-color: #FAFAFA;
    font-size: 12px;
    text-align: right;
    margin-top: 30px;
    padding: 12px 5px 12px 5px;
}


footer .info {
    text-align: center;
    font-size: 14px;
}

h1 {
    font-family: "OpenSans-ExtraBold";
    font-size: 50px;
    color: #404040;
}

h2 {
    font-family: "OpenSans-ExtraBold";
    font-size: 35px;
    color: #404040;
}

h3 {
    font-family: "OpenSans-ExtraBold";
    font-size: 25px;
    color: #404040;
}


code {
    font-family: "SourceCodePro-Regular";
}

article .posts pre {
    padding-left: 20px;
    padding-right: 20px;
}

article .posts pre code {
    font-size: 1.2em;
    color: #404040;
}

article .header {
    font-family: "Lora-Italic";
    font-size: 14px;
    font-style: italic;

    color: #555;

    padding-left: 20px;
    padding-right: 20px;
}

/* Set post size in the blog posts */
article .posts {
    padding: 40px;
}

/* Set image size in the blog posts */
article .posts img {
    max-width: 100%;
    padding: 5px;
}

article .posts p {
    font-family: "Lora-Regular";
    font-size: 1.2em;
    color: #404040;

    padding-left: 20px;
    padding-right: 20px;
}

article .posts p strong {
    font-family: "Lora-Bold";
}

article .posts p em {
    font-family: "Lora-Italic";
}

article .posts ol li {
    font-family: "Lora-Regular";
    font-size: 1.2em;
    color: #404040;
}


.profile-image {
    height: 20em;
    /* round the image corners */
    border-radius: 1rem 1rem 1rem 1rem;
}

.logo a {
    /* The orange for the title */
    color: #ff825b;
    /* The original orange */
    /* color: #ee8463; */

    float: left;

    font-family: "OpenSans-ExtraBoldItalic";
    font-size: 1.5em;

    /* text-shadow: 0.025em 0.025em 0 rgba(0,0,0,0.15); */
    text-decoration: none;

    /* To add some space between the underline and the text */
    padding: 0 2vw 0.2em 2vw;

    /* For the text underline */
    /* border-bottom: 0.15rem solid rgba(0,0,0,0.15); */
    /* line-height: 1.1em; */
}

.link:hover {
    color: #63cdee;
    text-shadow: 0 0 8px #a8e3f6;
}
