# Zola public directory (build output)
public/

# Direnv files
.direnv/

# Nix-related files
result
result-*

# Operating system files
.DS_Store
Thumbs.db

# Ignore photos
*.jpg
*.JPG
*.png
*.PNG
# (You might want to track specific images with `git add -f images/specific-image.png`)

# Editor-specific files
*.swp
*.swo
*~
.vscode/
.idea/

# Ignore the deploy helper script
deploy.zsh
deploy.sh

# Ignore the blog TODO list (everything is perfect anyways right?)
TODO.md