<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ config.title }} - {% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="{{ config.extra.author }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ get_url(path="style.css") }}">

    <!-- highlight.js -->
    <link rel="stylesheet" href="{{ get_url(path="css/github.css") }}">
    <script type="text/javascript" src="{{ get_url(path="js/highlight.min.js") }}"></script>
    <script type="text/javascript" src="{{ get_url(path="js/terraform.js") }}"></script>
    <script type="text/javascript">
     hljs.registerLanguage('terraform', window.hljsDefineTerraform);
     hljs.initHighlightingOnLoad();
    </script>

    {% block extra_head %}{% endblock extra_head %}
</head>
<body class="d-flex flex-column">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <header>
        <div class="logo">
            <a class="link" href="{{ config.base_url }}">{{ config.title }}</a>
        </div>
        <nav>
            <a class="link" href="{{ config.base_url }}">Home</a>
            <a class="link" href="{{ get_url(path="about") }}">About</a>
            <a class="link" href="{{ get_url(path="contact") }}">Contact</a>
            <a class="link" href="{{ get_url(path="blog") }}">Blog</a>
        </nav>
    </header>

    <main role="main">
        <div class="container">
            <!-- {% if page.title and page.path != "_index.md" %}<h1>{{ page.title }}</h1>{% elif section.title %}<h1>{{ section.title }}</h1>{% endif %} -->
            {% block content %}{% endblock content %}
        </div>
    </main>

    <footer class="mt-auto">
        <div class="d-flex flex-column">
            <div class="info p-2">
                Copyright {{ config.extra.author }} © {{ now() | date(format="%Y") }}
            </div>
            <div class="info p-2">
                <a href="{{ get_url(path="legal") }}">Legal details.</a>
            </div>
            <div class="p-2">
                Site proudly generated by
                <a href="https://www.getzola.org/">Zola</a>
            </div>
        </div>
    </footer>

    {% block extra_scripts %}{% endblock extra_scripts %}
</body>
</html>
